<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="/static/CSS/profile.css">
</head>

<body>
    <div id="loading"><div id="wheel"></div></div>
    <div class="herotxt">Profile</div>

    <div onclick="localStorage.clear()" class="logoutbtn">
        <a href="/login">Log out</a>
    </div>

    {%if user%}
    <div class="upper-box">
        <div class="box">
            <h1>{{user["user_name"]}}</h1>
            <h3 class="email-txt">{{user["email"]}}</h3>
            <div class="created-box">
                <div class="crtby">Joined : </div>
                <div>{{user["created_at"].strftime("%b %d %Y")}}</div>
            </div>
            <div class="delete-btn"  onclick="deleteAccount()"><img draggable="false" src="../../static/images/material-symbols_delete.png" alt="delete icon" srcset=""></div>
            <div class="more-info"><a style="width: 100%;height: 100%;" onclick="window.location.href = `/users/posts/${localStorage.userId}`">View
                    Heros</a></div>


        </div>
    </div>
    {% else %}
    <div class="upper-box">
        <div class="box">
            <h1>You are not logged in</h1>
        </div>
    </div>
    {% endif %}
    <nav>
        <div class="navitems">
            <a href="/posts">
                <div class="item1">All Heros</div>
            </a>
            <a id="myHeros">
                <div id="myHeros" class="item2">My Heros</div>
            </a>
            <a href="/addhero">
                <div class="item3">Add Hero</div>
            </a>
            <a href="/users">
                <div class="item4">All Users</div>
            </a>
            <div class="item5">Profile</div>

        </div>
    </nav>
    <script>
        window.addEventListener('beforeunload', () => {
            document.getElementById('wheel').style.display = 'inline-block';
            document.getElementById('wheel').style.animation = 'spin 1s cubic-bezier(1,0,0,1)  infinite alternate';
            document.getElementById('loading').style.display = 'block';
        })
        window.addEventListener('pagehide', () => {
            document.getElementById('loading').style.display = 'none';
            document.getElementById('wheel').style.display = 'none';
            document.getElementById('wheel').style.animation = 'none';
        })
    </script>
    <script src="../../static/JS/Profile/script.js"></script>
</body>

</html>