<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Heros</title>
    <link rel="stylesheet" href="../static/CSS/home.css">
</head>

<body>
    <div class="herotxt">Super Heros</div>

    {%if hero_pack%}
    {% for hero in hero_pack %}
    <div class="upper-box">
        <div class="box">
            <h1>{{hero["Post"]["alias"]}}</h1>
            <h3>{{hero["Post"]["name"]}}</h3>
            <div class="created-box">
                <div class="crtby">Created by : </div>
                <div class="email-txt">{{hero["Post"]["owner"]["user_name"]}}</div>
            </div>
            <a href ="/posts/{{hero["Post"]["id"]}}"><div class="more-info">More Info</div></a>
        </div>
    </div>
    {% endfor %}
{% else %}
<div class="upper-box">
    <div class="box">
        <h1>No Hero</h1>
    </div>
</div>
{% endif %}

   
</body>

</html>