<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Heros</title>
    <link rel="stylesheet" href="../static/CSS/home.css">
</head>

<body>
    <div class="herotxt">Super Heros</div>


    {% for hero in hero_pack %}
    <div class="upper-box">
        <div class="box">
            <h1>{{hero["Post"]["alias"]}}</h1>
            <h3>{{hero["Post"]["name"]}}</h3>
            <div class="created-box">
                <div class="crtby">Created by : </div>
                <div class="email-txt">{{hero["Post"]["owner"]["user_name"]}}</div>
            </div>
            <a href ="moreInfo.html"><div class="more-info">More Info</div></a>
        </div>
    </div>
    {% endfor %}




    <div class="upper-box">
        <div class="box">
            <h1>Iron Man</h1>
            <h3>Tony stark</h3>
            <div class="created-box">
                <div class="crtby">Created by : </div>
                <div class="email-txt">ashwithrai@gmail.com</div>
            </div>
            <a href ="moreInfo.html"><div class="more-info">More Info</div></a>
        </div>
    </div>
    <div class="upper-box">
        <div class="box">
            <h1>Iron Man</h1>
            <h3>Tony stark</h3>
            <div class="created-box">
                <div class="crtby">Created by : </div>
                <div class="email-txt">ashwithrai@gmail.com</div>
            </div>
            <a href ="moreInfo.html"><div class="more-info">More Info</div></a>
        </div>
    </div>
    <div class="upper-box">
        <div class="box">
            <h1>Iron Man</h1>
            <h3>Tony stark</h3>
            <div class="created-box">
                <div class="crtby">Created by : </div>
                <div class="email-txt">ashwithrai@gmail.com</div>
            </div>
            <a href ="moreInfo.html"><div class="more-info">More Info</div></a>
        </div>
    </div>
    <div class="upper-box">
        <div class="box">
            <h1>Iron Man</h1>
            <h3>Tony stark</h3>
            <div class="created-box">
                <div class="crtby">Created by : </div>
                <div class="email-txt">ashwithrai@gmail.com</div>
            </div>
            <a href ="moreInfo.html"><div class="more-info">More Info</div></a>
        </div>
    </div>
    <div class="sticky-menu">
        add fds
    </div>
</body>

</html>