<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Heros</title>
    <link rel="stylesheet" href="/static/CSS/home.css">
</head>

<body>
    <div id="loading"><div id="wheel"></div></div>
    <!-- <div id="placeholder"> -->

        
    <div style="display: none;" id="center">You are not logged in</div>
    <div id="page-body">
        <div class="herotxt">Super Heros</div>

        {%if hero_pack%}
    {% for hero in hero_pack %}
    <div class="upper-box">
        <div class="box">
            <h1>{{hero["Post"]["alias"]}}</h1>
            <h3>{{hero["Post"]["name"]}}</h3>
            <div class="created-box">
                <div class="crtby">Created by : </div>
                <div class="email-txt">{{hero["Post"]["owner"]["user_name"]}}</div>
            </div>
            <a href="/posts/{{hero["Post"]["id"]}}">
                <div class="more-info">More info</div>
            </a>
            
        </div>
        <div id="like-box" onclick="toggleHeart('{{hero["Post"]["id"]}}',)">
                <div id="like" class="like">
                    <img id="{{hero["Post"]["id"]}}" style="position: absolute;" src="../../static\images\blankheart.png" alt=""
                        srcset="">
                    <span id="likeCount{{hero["Post"]["id"]}}" style="position: absolute; z-index: 1;">{{hero["likes"]}}</span>
                </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="upper-box">
        <div class="box">
            <h1>No Hero</h1>
        </div>
    </div>
    {% endif %}



    <!-- </div> -->
        <nav >
            <div class="navitems">

                <div class="item1">All Heros</div>
                <a id="myHeros">
                    <div class="item2">My Heros</div>
                </a>
                <a href="/addhero">
                    <div class="item3">Add Hero</div>
                </a>
                <a href="/users">
                    <div class="item4">All Users</div>
                </a>
                <a id="profile">
                    <div class="item5">Profile</div>
                </a>
            </div>
        </nav>
    </div>
    <script>
        window.addEventListener('beforeunload', () => {
            document.getElementById('wheel').style.display = 'inline-block';
            document.getElementById('wheel').style.animation = 'spin 1s cubic-bezier(1,0,0,1)  infinite alternate';
            document.getElementById('loading').style.display = 'block';
        })
        window.addEventListener('pagehide', () => {
            document.getElementById('loading').style.display = 'none';
            document.getElementById('wheel').style.display = 'none';
            document.getElementById('wheel').style.animation = 'none';
        })
    </script>
    <script src="/static/JS/Home/script.js"></script>
</body>

</html>