<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Heros</title>
    <link rel="stylesheet" href="../static/CSS/getallusers.css">
</head>

<body>
    <div class="herotxt">All Users</div>

    {%if users%}
    {% for user in users %}
    <div class="upper-box">
        <div class="box">
            <h1>{{user["user_name"]}}</h1>
            <h3 class="email-txt">{{user["email"]}}</h3>
            <div class="created-box">
                <div class="crtby">Joined : </div>
                <div >{{user["created_at"].strftime("%b %d %Y")}}</div>
            </div>
            <a href="/users/posts/{{user["id"]}}">
                <div class="more-info">View Heros</div>
            </a>
            
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="upper-box">
        <div class="box">
            <h1>No Users</h1>
        </div>
    </div>
    {% endif %}
    <nav>
        <div class="navitems">
            <a href="/posts">
                <div class="item1">All Heros</div>
            </a>
            <a >
                <div class="item2">My Heros</div>
            </a>
            <a href="/addhero">
                <div class="item3">Add Hero</div>
            </a>
        
                <div class="item4">All Users</div>
            <a>
                <div class="item5">Profile</div>
            </a>
        </div>
    </nav>
</body>
<body>

</html>