<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Heros</title>
    <link rel="stylesheet" href="/static/CSS/getuserheros.css">
</head>
<body>
    <div id="loading"><div id="wheel"></div></div>
    <div style="display: none;" id="center">You are not logged in</div>
    <div id="page-body">
    <div id="placeholder">
<!-- <div class="sticky-back"><a href="javascript:history.back()">Back</a> </div>
    

    {%if hero_pack%}
    {% for hero in hero_pack %}
    <div class="upper-box">
        <div class="box">
            <h1>{{hero["Post"]["alias"]}}</h1>
            <h3>{{hero["Post"]["name"]}}</h3>
            <div class="created-box">
                <div class="crtby">Created by : </div>
                <div class="email-txt">{{hero["Post"]["owner"]["user_name"]}}</div>
            </div>
            <a href="/posts/{{hero["Post"]["id"]}}">
                <div class="more-info">More info</div>
            </a>
            
        </div>
        <div id="like-box" onclick="toggleHeart({{hero_index}})">
                <div id="like">
                    <img id="like-img{{hero_index}}" style="position: absolute;" src="../static\images\blankheart.png" alt=""
                        srcset="">
                    <span style="position: absolute; z-index: 1;">{{hero_pack[hero_index]["likes"]}}</span>
                </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="upper-box">
        <div class="box">
            <h1>No Hero</h1>
        </div>
    </div>
    {% endif %}  -->
</div>
</div>
<nav style="display:none">
        <div class="navitems">
            <a href="/heros">
                <div class="item1">All Heros</div>
            </a>
            
                <div class="item2">My Heros</div>
            
            <a href="/addhero">
                <div class="item3">Add Hero</div>
            </a>
            <a href="/users">
                <div class="item4">All Users</div>
            </a>
            <a id="profile">
                <div class="item5">Profile</div>
            </a>
        </div>
    </nav>
    <script src="/static/JS/getUserHeros/script.js"></script>
</body>
</html>