*{
    padding: 0;
    margin: 0;
}

#page-body{
    background-color: rgba(126, 166, 212, 0.78);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-box{
    background-color: rgba(82, 114, 152, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 906px;
    height: 758px;
    border-radius: 35px;
    position: relative;
    margin-top: 169px;

}

a {
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color from parent */
    display: inline-block; /* Allows background color to cover entire text */
    transition: all 0.3s ease; /* Smooth transition for background color */
    cursor: pointer;
}

  /* Hover state */
a:hover {
    text-decoration: underline; /* Underline on hover */
    color: rgb(99, 99, 94); /* Highlight color hover */
  }

  input{
    font-size: 32px;
    width: 626px;
    height: 87px;
    border-radius: 35px;
    background-color: rgba(152, 183, 220, 1);
    text-indent: 89px;
    border: none;
    /* border: 1px solid white; */

  }

input:focus{
    /* border: none; */
    outline: 1px solid black;
}

  input::placeholder{
    font-size: 32px;
    color: rgba(255, 255, 255, 0.25);
    text-indent: 89px;
  }

  h1{
    font-size: 96px;
    position: absolute;
    top: 70px;
  }

  .inputForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 72px;
    position: absolute;
    top: 220px;
  }

  .btn{
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 297px;
    height: 77px;
    color: white;
    border-radius: 35px;
    background-color: rgba(152, 183, 220, 1);
    transition: all 0.3s ease; /* Smooth transition for background color */

  }

  .btn:hover{
    color:  rgb(99, 99, 94);
  }
  
  .back-btn{
    position: absolute;
    bottom: 24px;                             
    left:40px ;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 63px;
    border-radius: 35px;
    background-color: rgba(152, 183, 220, 1);
  }

  #center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #f0f0f0; */
    font-size: 90px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    text-align: center;
    z-index: 1000; /* Ensure it's above other content */
    background-color:rgba(126, 166, 212, 1) ;
    width: 600px;
    border-radius: 35px;
    color: white;

  }

  .body-opacity{
    opacity: 0.2;
    transition: opacity 0.5s ease;
  }