* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: rgba(126, 166, 212, 0.78);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Remove outline on click for all elements */
:focus {
    outline: none;
}

nav {
    position: fixed;
    bottom: 0;
}

.navitems {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 104px;
    background-color: rgba(170, 204, 243, 1);
    border-radius: 35px;
    margin-bottom: 15px;
}

.navitems * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 57px;
    background-color: rgba(82, 114, 152, 1);
    border-radius: 15px;
    font-size: 32px;
}

.item5 {
    background-color: rgba(149, 186, 228, 1);
}


.herotxt {
    font-size: 48px;
    position: fixed;
    top: 40px;
    left: 15px;
}


.logoutbtn {
    border-style: none;
    font-size: 40px;
    position: fixed;
    top: 40px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 57px;
    background-color: rgb(168, 203, 241);
    border-radius: 15px;
    font-size: 32px;
    color: white;
    font-family: inherit;
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
    box-sizing: border-box;
    position: relative;


}

.upper-box {
    height: 551px;
    width: 906px;
    border-radius: 35px;
    background-color: rgba(82, 114, 152, 1);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 114px;
    flex-direction: column;
    gap: 106px;
    margin-bottom: 144px;
    position: relative;
}

h1 {
    font-size: 96px;
}

h3 {
    font-size: 32px;
}

.created-box {
    font-size: 32px;
    display: flex;
    margin-top: 55px;
}

.email-txt {
    margin-left: 5px;
}



.more-info {
    font-size: 16px;
    width: 185px;
    height: 63px;
    border-radius: 35px;
    background-color: rgba(152, 183, 220, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 157px;

}

a {
    text-decoration: none;
    /* Remove default underline */
    color: inherit;
    /* Inherit text color from parent */
    position: relative;
    /* Needed for pseudo-elements */
    display: inline-block;
    /* Allows background color to cover entire text */
    transition: all 0.3s ease;
    /* Smooth transition for background color */
    cursor: pointer;
    display: grid;
    place-items: center;
}

/* Hover state */
a:hover {
    text-decoration: underline;
    /* Underline on hover */
    color: rgb(99, 99, 94);
    /* Highlight color hover */
}


.delete-btn {
    background-color: rgba(152, 183, 220, 1);
    border-radius: 5px;
    max-width: 48px;
    max-height: 48px;
    bottom: -3px;
    right: 50px;
    position: absolute;
    font-size: xx-large;
    color: #d9294be6;
}

.delete-btn:hover {
    background-color: rgb(214, 91, 91);
    transition: all ease 0.5s;
}

.delete-btn:active {
    transform: scale(1.2);
}

.delete-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.opacity {
    opacity: 0.2;
}

@media (width<=460px) {

    nav {
        position: absolute;
        bottom: 0;
        height: 51px;
    }

    .navitems {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 51px;
        background-color: rgba(140, 185, 238, 1);
        border-radius: 35px;
    }

    .navitems * {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 26px;
        background-color: rgba(82, 114, 152, 1);
        border-radius: 15px;
        font-size: 0.5rem;
    }


    .upper-box {
        height: 40vh;
        width: 90vw;
        margin-top: 25vh;
        margin-bottom: 144px;
    }

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 0.8rem;
        font-weight: 100;
    }

    .created-box {
        font-size: 1rem;
        margin-top: 55px;
        font-weight: 100;
    }

    .email-txt {
        margin-left: 0.3rem;
    }

    .more-info {
        font-size: 0.5rem;
        width: 25vw;
        height: 4vh;
        margin-top: 7%;

    }

    .delete-btn {
        max-width: 30px;
        max-height: 30px;
        bottom: 1px;
    }

    .logoutbtn {
        font-size: 1.5rem;
        width: 117px;
        height: 40px;
    }

    .item5 {
        background-color: rgba(149, 186, 228, 1);
    }

    :focus {
        outline: none;
    }

    a {
        text-decoration: none;
        /* Remove default underline */
        color: inherit;
        /* Inherit text color from parent */
        position: relative;
        /* Needed for pseudo-elements */
        display: inline-block;
        /* Allows background color to cover entire text */
        transition: all 0.3s ease;
        /* Smooth transition for background color */
        cursor: pointer;
        display: grid;
        place-items: center;
    }

    a:hover {
        text-decoration: underline;
        /* Underline on hover */
        color: rgb(99, 99, 94);
        /* Highlight color hover */
    }

    .delete-btn:hover {
        background-color: transparent;
        transition: none;
    }
    
    .delete-btn:active {
        transition: all cubic-bezier(0,1,0,1) 0.5s;
        background-color: rgb(214, 91, 91);
        transform: scale(1.2);
    }

    .delete-btn img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}