<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/moreinfo.css">
    <title>Hero Info</title>
</head>
<body>
    <div id="loading"><div id="wheel"></div></div>
    <div class="main-box">
        <div class="main-txt">{{ hero_pack["Post"]["alias"]}}</div>
        <div class="hero-name">{{hero_pack["Post"]["name"]}}</div>
        <div class="info-box">
           <div class="info-txt"> <div class="info-txt-key">Hero ID :</div><div class="info-txt-value">{{hero_pack["Post"]["id"]}}</div></div>
           <div class="info-txt"> <div class="info-txt-key">Joined on :</div><div class="info-txt-value">{{hero_pack["Post"]["joined_on"].strftime("%b %d %Y")}}</div></div>
           <div class="info-txt"> <div class="info-txt-key">Created by: </div><div class="info-txt-value">{{hero_pack["Post"]["owner"]["user_name"]}}</div></div>
           <div class="info-txt"> <div class="info-txt-key">Owner ID :</div><div class="info-txt-value">{{hero_pack["Post"]["owner"]["id"]}}</div></div>
           <div class="info-txt"> <div class="info-txt-key">Likes :</div><div class="info-txt-value">{{hero_pack["likes"]}}</div></div>
        </div>
        <a href="javascript:history.back()">
            <div class="back-btn">Back</div>
        </a>
        <a href="/users-heros">
            <div class="my-hero-btn">My Heros</div>
        </a>

        <!-- <div class="like-box">
            <svg class="like-svg" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <text class="like-count" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="gray" font-size="8">{{hero_pack["likes"]}}</text>
                <path fill="grey"
                    d="m12.1 18.55l-.1.1l-.11-.1C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5c1.54 0 3.04 1 3.57 2.36h1.86C13.46 6 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5c0 2.89-3.14 5.74-7.9 10.05M16.5 3c-1.74 0-3.41.81-4.5 2.08C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.41 2 8.5c0 3.77 3.4 6.86 8.55 11.53L12 21.35l1.45-1.32C18.6 15.36 22 12.27 22 8.5C22 5.41 19.58 3 16.5 3" />
            </svg>
            
        </div> -->
    </div>
    <!-- <div class="main-box">
        <div class="main-txt">Iron Man</div>
        <div class="hero-name">Tony Stark</div>
        <div class="info-box">
           <div class="info-txt"> <div class="info-txt-key">Hero ID :</div><div class="info-txt-value">123346432</div></div>
           <div class="info-txt"> <div class="info-txt-key">Is Alive :</div><div class="info-txt-value">True</div></div>
           <div class="info-txt"> <div class="info-txt-key">Joined on :</div><div class="info-txt-value">Feb 30 ,2024</div></div>
           <div class="info-txt"> <div class="info-txt-key">Created by: </div><div class="info-txt-value">ashwithrai@gmail.com</div></div>
           <div class="info-txt"> <div class="info-txt-key">Owner ID :</div><div class="info-txt-value">123346432</div></div>
        </div>
        <a href="/posts">
            <div class="back-btn">Back</div>
        </a>
    </div> -->
    
    <script>
        window.addEventListener('beforeunload', () => {
            document.getElementById('wheel').style.display = 'inline-block';
            document.getElementById('wheel').style.animation = 'spin 1s cubic-bezier(1,0,0,1)  infinite alternate';
            document.getElementById('loading').style.display = 'block';
        })
        window.addEventListener('pagehide', () => {
            document.getElementById('loading').style.display = 'none';
            document.getElementById('wheel').style.display = 'none';
            document.getElementById('wheel').style.animation = 'none';
        })
    </script>
</body>
</html>