<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/moreinfo.css">
    <title>Hero Info</title>
</head>
<body>
    <div id="loading"><div id="wheel"></div></div>
    <div style="display: none;" id="center">You are not logged in</div>
    <div id="page-body">
    <div class="main-box">
        <div class="main-txt">{{ hero_pack["Post"]["alias"]}}</div>
        <div class="hero-name">{{hero_pack["Post"]["name"]}}</div>
        <div class="info-box">
           <div class="info-txt"> <div class="info-txt-key">Hero ID :</div><div class="info-txt-value">{{hero_pack["Post"]["id"]}}</div></div>
           <div class="info-txt"> <div class="info-txt-key">Joined on :</div><div class="info-txt-value">{{hero_pack["Post"]["joined_on"].strftime("%b %d %Y")}}</div></div>
           <div class="info-txt"> <div class="info-txt-key">Created by: </div><div class="info-txt-value">{{hero_pack["Post"]["owner"]["user_name"]}}</div></div>
           <div class="info-txt"> <div class="info-txt-key">Owner ID :</div><div class="info-txt-value">{{hero_pack["Post"]["owner"]["id"]}}</div></div>
           <div class="info-txt"> <div class="info-txt-key">Likes :</div><div class="info-txt-value">{{hero_pack["likes"]}}</div></div>
        </div>
        <a href="javascript:history.back()">
            <div class="back-btn">Back</div>
        </a>
        <a id="myHeros">
            <div class="my-hero-btn">My Heros</div>
        </a>
    </div>
</div>
    <script>
        document.getElementById('myHeros').addEventListener('click', ()=> {
    if (!localStorage.userId) {
        const message = document.getElementById('center');
        message.style.display = 'flex';
        document.getElementById('page-body').classList.add('body-opacity');
        setTimeout(() => {
            window.location.href = "/login"
            setTimeout(() => {
                message.style.display = 'none';
                document.getElementById('page-body').classList.remove('body-opacity');
    
            }, 50);
        }, 1500);
    } else{
        window.location.href = `/users/posts/${localStorage.userId}`;
    }
})
        window.addEventListener('beforeunload', () => {
            document.getElementById('wheel').style.display = 'inline-block';
            document.getElementById('wheel').style.animation = 'spin 1s cubic-bezier(1,0,0,1)  infinite alternate';
            document.getElementById('loading').style.display = 'block';
        })
        window.addEventListener('pagehide', () => {
            document.getElementById('loading').style.display = 'none';
            document.getElementById('wheel').style.display = 'none';
            document.getElementById('wheel').style.animation = 'none';
        })
    </script>
</body>
</html>