<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/addhero.css">
    <title>Add Hero</title>
</head>

<body>
    <div class="main-box">
        <h1>Add Your Hero</h1>
        <div class="input-fld">
        <input type="text" placeholder="Hero Name">
        <input type="text" placeholder="Person Name">
        <a href="#">
            <div class="btn">ADD</div>
        </a></div>
        <div class="back-btn-container"></div>
        <a href="home.html">
            <div class="back-btn">Back</div>
        </a>
    </div>
</body>

</html>