<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="static/CSS/styles.css">
</head>

<body>
    <div class="big-container">
        <div class="welcometxt">Welcome to Super Hero Team</div>
        <a href="/login">
            <div class="btns" id="login">Log in</div>
        </a>
        <a href="/signup">
            <div class="btns">Sign up</div>
        </a>
    </div>
</body>

</html>