<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/moreInfo.css">
    <title>Document</title>
</head>
<body>
    <div class="main-box">
        <div class="main-txt">Iron Man</div>
        <div class="hero-name">Tony Stark</div>
        <div class="info-box">
           <div class="info-txt"> <div class="info-txt-key">Hero ID :</div><div class="info-txt-value">123346432</div></div>
           <div class="info-txt"> <div class="info-txt-key">Is Alive :</div><div class="info-txt-value">True</div></div>
           <div class="info-txt"> <div class="info-txt-key">Joined on :</div><div class="info-txt-value">Feb 30 ,2024</div></div>
           <div class="info-txt"> <div class="info-txt-key">Created by: </div><div class="info-txt-value">ashwithrai@gmail.com</div></div>
           <div class="info-txt"> <div class="info-txt-key">Owner ID :</div><div class="info-txt-value">123346432</div></div>
        </div>
        <a href="home.html">
            <div class="back-btn">Back</div>
        </a>
    </div>
</body>
</html>