<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static/CSS/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>

<body>
    <div class="sticky-back"><a href="index.html">back</a> </div>
    <div class="big-container">
        <h1 class="login_head">Sign up</h1>
        <input type="text" class="credential-input" placeholder="Email">
        <input type="password" class="credential-input" placeholder="Password">
        <a href="home.html">
            <div class="loginbtn" type="submit">Sign up</div></a>
    </div>
</body>

</html>